copilot-agent-samples/copilot-studio-agents/ca-PowerClawAgent/PowerClaw/workflows/HeartbeatFlow-04cf2235-af1c-f111-88b1-6045bd0079f1/workflow.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftcopilotstudio": {
        "api": {
          "name": "shared_microsoftcopilotstudio"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr0b1_sharedmicrosoftcopilotstudio_d1a4f"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_77d8f"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_9be30"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Minute",
            "interval": 30
          },
          "metadata": {
            "operationMetadataId": "477c5e0d-a600-48af-b86b-409a6b19d573"
          }
        }
      },
      "actions": {
        "Scope:_Execution": {
          "type": "Scope",
          "actions": {
            "Get_file_content:_Soul.md": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "id": "%252fShared%2bDocuments%252fsoul.md",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "metadata": {
                "%252fShared%2bDocuments%252fsoul.md": "/Shared Documents/soul.md"
              }
            },
            "Get_file_content:_User.md": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "id": "%252fShared%2bDocuments%252fuser.md",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_file_content:_Soul.md": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "%252fShared%2bDocuments%252fuser.md": "/Shared Documents/user.md"
              }
            },
            "Get_file_content:_Agents.md": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "id": "%252fShared%2bDocuments%252fagents.md",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_file_content:_User.md": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "%252fShared%2bDocuments%252fagents.md": "/Shared Documents/agents.md"
              }
            },
            "Get_file_content:_Tools.md": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "id": "%252fShared%2bDocuments%252ftools.md",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_file_content:_Agents.md": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "%252fShared%2bDocuments%252ftools.md": "/Shared Documents/tools.md"
              }
            },
            "Compose_PromptPrefix": {
              "type": "Compose",
              "inputs": "@{body('Get_file_content:_Soul.md')}\n@{body('Get_file_content:_User.md')}\n@{body('Get_file_content:_Agents.md')}\n@{body('Get_file_content:_Tools.md')}",
              "runAfter": {
                "Get_file_content:_Tools.md": [
                  "Succeeded"
                ]
              }
            },
            "Do_until:_Retry_Agent_Loop": {
              "type": "Until",
              "expression": "@equals(variables('AgentSuccess'),true)",
              "limit": {
                "count": 4,
                "timeout": "PT1H"
              },
              "actions": {
                "Execute_Agent_and_wait": {
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "parameters": {
                      "Copilot": "auto_agent_BmTJh",
                      "body/message": "[HEARTBEAT EVENT TRIGGERED]\nTIMESTAMP: @{utcNow()}\n\nRECENT MEMORY (LAST 10 ACTIONS):\n@{body('Select:_Summary')}\n\nOPEN TASKS (from PowerClaw Tasks list):\n@{body('Select:_Task_Summary')}\n\nLONG-TERM MEMORY (Active Semantic Facts):\n@{body('Select:_Memory_Facts')}\n\nMEMORY JOURNAL (Recent Narrative):\n@{body('Get_file_content:_memory-journal.md')}\n\nLATEST CONTEXT PAYLOAD:\n@{outputs('Compose_PromptPrefix')}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                      "operationId": "ExecuteCopilotAsyncV2",
                      "connectionName": "shared_microsoftcopilotstudio"
                    }
                  }
                },
                "Condition:_Check_Agent_Output": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(outputs('Execute_Agent_and_wait')?['body/lastResponse'])",
                          false
                        ]
                      },
                      {
                        "contains": [
                          "@outputs('Execute_Agent_and_wait')?['body/lastResponse']",
                          "{"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Compose:_Sanitize_markdown": {
                      "type": "Compose",
                      "inputs": "@replace(substring(outputs('Execute_Agent_and_wait')?['body/lastResponse'], indexOf(outputs('Execute_Agent_and_wait')?['body/lastResponse'], '{'), add(sub(lastIndexOf(outputs('Execute_Agent_and_wait')?['body/lastResponse'], '}'), indexOf(outputs('Execute_Agent_and_wait')?['body/lastResponse'], '{')), 1)), decodeUriComponent('%C2%A0'), ' ')"
                    },
                    "Parse_JSON_-_Execute_Agent": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Compose:_Sanitize_markdown')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "thoughts": {
                              "type": "string",
                              "description": "The agent's reasoning during the heartbeat."
                            },
                            "mcpActionsTaken": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "List of MCP Graph queries executed (e.g., 'Checked Calendar', 'Sent Teams Message')."
                            },
                            "memoryUpdateSummary": {
                              "type": "string",
                              "description": "A concise summary to be logged in the SharePoint Memory List."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "idle",
                                "proactive_message_sent",
                                "error"
                              ]
                            },
                            "proposedMemories": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "memoryType": {
                                    "type": "string"
                                  },
                                  "scopeKey": {
                                    "type": "string"
                                  },
                                  "canonicalFact": {
                                    "type": "string"
                                  },
                                  "confidence": {
                                    "type": "integer"
                                  },
                                  "importance": {
                                    "type": "string"
                                  },
                                  "expiresAt": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "taskActions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "taskId": {
                                    "type": "string"
                                  },
                                  "newStatus": {
                                    "type": "string"
                                  },
                                  "notes": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "required": [
                            "thoughts",
                            "mcpActionsTaken",
                            "memoryUpdateSummary",
                            "status"
                          ]
                        }
                      },
                      "runAfter": {
                        "Compose:_Sanitize_markdown": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_variable:_AgentSuccess_to_True": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AgentSuccess",
                        "value": true
                      },
                      "runAfter": {
                        "Condition:_Has_Task_Actions": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Create_item:_Log_Success_in_Memory": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                          "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                          "item/EventType/Value": "MemoryUpdate",
                          "item/Summary": "@body('Parse_JSON_-_Execute_Agent')['memoryUpdateSummary']",
                          "item/FullContextJSON": "@outputs('Compose:_Sanitize_markdown')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "PostItem",
                          "connectionName": "shared_sharepointonline"
                        }
                      },
                      "runAfter": {
                        "Parse_JSON_-_Execute_Agent": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Condition:_Has_Proposed_Memories": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Parse_JSON_-_Execute_Agent')?['proposedMemories'])",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Apply_to_each:_Save_Memories": {
                          "type": "Foreach",
                          "foreach": "@body('Parse_JSON_-_Execute_Agent')?['proposedMemories']",
                          "actions": {
                            "Create_item:_Save_Memory": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                                  "table": "e3c0c6fd-a67a-470f-967e-727f13814e52",
                                  "item/MemoryType/Value": "@items('Apply_to_each:_Save_Memories')?['memoryType']",
                                  "item/ScopeKey": "@items('Apply_to_each:_Save_Memories')?['scopeKey']",
                                  "item/CanonicalFact": "@items('Apply_to_each:_Save_Memories')?['canonicalFact']",
                                  "item/Confidence": "@items('Apply_to_each:_Save_Memories')?['confidence']",
                                  "item/Importance/Value": "@items('Apply_to_each:_Save_Memories')?['importance']",
                                  "item/Status/Value": "Active",
                                  "item/FirstLearnedAt": "@utcNow()",
                                  "item/LastConfirmedAt": "@utcNow()",
                                  "item/Title": "@items('Apply_to_each:_Save_Memories')?['scopeKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                  "operationId": "PostItem",
                                  "connectionName": "shared_sharepointonline"
                                }
                              }
                            }
                          }
                        },
                        "Compose:_Journal_Entry": {
                          "type": "Compose",
                          "inputs": "\n## @{utcNow()} - Heartbeat Memory Update\n@{body('Parse_JSON_-_Execute_Agent')?['memoryUpdateSummary']}\n\n**New Memories Saved:** @{length(body('Parse_JSON_-_Execute_Agent')?['proposedMemories'])}\n@{join(body('Parse_JSON_-_Execute_Agent')?['mcpActionsTaken'], ', ')}\n\n---\n",
                          "runAfter": {
                            "Apply_to_each:_Save_Memories": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Get_file_content:_Journal_for_Append": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                              "id": "%252fShared%2bDocuments%252fmemory-journal.md",
                              "inferContentType": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileContent",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "runAfter": {
                            "Compose:_Journal_Entry": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "%252fShared%2bDocuments%252fmemory-journal.md": "/Shared Documents/memory-journal.md"
                          }
                        },
                        "Update_file:_Append_Journal": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                              "id": "%252fShared%2bDocuments%252fmemory-journal.md",
                              "body": "@concat(body('Get_file_content:_Journal_for_Append'), outputs('Compose:_Journal_Entry'))"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "UpdateFile",
                              "connectionName": "shared_sharepointonline"
                            }
                          },
                          "runAfter": {
                            "Get_file_content:_Journal_for_Append": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Create_item:_Log_Success_in_Memory": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Condition:_Has_Task_Actions": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(body('Parse_JSON_-_Execute_Agent')?['taskActions'])",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Apply_to_each:_Process_Task_Actions": {
                          "type": "Foreach",
                          "foreach": "@body('Parse_JSON_-_Execute_Agent')?['taskActions']",
                          "actions": {
                            "Update_item:_Task_Status": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                                  "table": "592d6022-8c5d-4a2b-8cb9-1f63f30c4e5b",
                                  "id": "@items('Apply_to_each:_Process_Task_Actions')?['taskId']",
                                  "item/TaskStatus": "@items('Apply_to_each:_Process_Task_Actions')?['newStatus']",
                                  "item/Notes": "@items('Apply_to_each:_Process_Task_Actions')?['notes']",
                                  "item/LastActionDate": "@utcNow()",
                                  "item/Title": "@items('Apply_to_each:_Process_Task_Actions')?['taskId']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                  "operationId": "PatchItem",
                                  "connectionName": "shared_sharepointonline"
                                }
                              }
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Condition:_Has_Proposed_Memories": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Create_item_-_Log_Fail": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                            "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                            "item/EventType/Value": "Error",
                            "item/Summary": "PowerClaw executed successfully but failed to return a text response or JSON payload."
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "operationId": "PostItem",
                            "connectionName": "shared_sharepointonline"
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Execute_Agent_and_wait": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Select:_Summary": [
                  "Succeeded"
                ],
                "Select:_Memory_Facts": [
                  "Succeeded"
                ],
                "Get_file_content:_memory-journal.md": [
                  "Succeeded"
                ],
                "Select:_Task_Summary": [
                  "Succeeded"
                ]
              }
            },
            "Get_items:_Check_memory_log": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                  "$orderby": "Created desc",
                  "$top": 25
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose_PromptPrefix": [
                  "Succeeded"
                ]
              }
            },
            "Select:_Summary": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_items:_Check_memory_log')?['body/value']",
                "select": "@item()?['Summary']"
              },
              "runAfter": {
                "Get_items:_Check_memory_log": [
                  "Succeeded"
                ]
              }
            },
            "Get_items:_PowerClaw_Memory": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "e3c0c6fd-a67a-470f-967e-727f13814e52",
                  "$filter": "Status ne 'Expired' and Status ne 'Superseded'",
                  "$orderby": "Importance desc, LastConfirmedAt desc",
                  "$top": 15
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose_PromptPrefix": [
                  "Succeeded"
                ]
              }
            },
            "Get_file_content:_memory-journal.md": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "id": "%252fShared%2bDocuments%252fmemory-journal.md",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose_PromptPrefix": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "%252fShared%2bDocuments%252fmemory-journal.md": "/Shared Documents/memory-journal.md"
              }
            },
            "Select:_Memory_Facts": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_items:_PowerClaw_Memory')?['body/value']",
                "select": {
                  "fact": "[\"@{item()?['MemoryType']}\"] @{item()?['ScopeKey']}: @{item()?['CanonicalFact']}",
                  "confidence": "@{item()?['Confidence']}",
                  "importance": "@{item()?['Importance']}"
                }
              },
              "runAfter": {
                "Get_items:_PowerClaw_Memory": [
                  "Succeeded"
                ]
              }
            },
            "Get_items:_PowerClaw_Tasks": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "592d6022-8c5d-4a2b-8cb9-1f63f30c4e5b",
                  "$filter": "TaskStatus ne 'Done'",
                  "$orderby": "Priority asc, Created asc",
                  "$top": 10
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose_PromptPrefix": [
                  "Succeeded"
                ]
              }
            },
            "Select:_Task_Summary": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('Get_items:_PowerClaw_Tasks')?['body/value']",
                "select": {
                  "summary": "Task #@{item()?['ID']}: @{item()?['Title']} | Status: @{item()?['TaskStatus']} | Priority: @{item()?['Priority']}",
                  "due": "@{item()?['DueDate']}",
                  "description": "@{item()?['TaskDescription']}"
                }
              },
              "runAfter": {
                "Get_items:_PowerClaw_Tasks": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Scope:_Initialize": [
              "Succeeded"
            ]
          }
        },
        "Scope:_Cleanup": {
          "type": "Scope",
          "actions": {
            "Get_items_-_Release_Lock": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "$filter": "SettingName eq 'IsRunning'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Update_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "id": "@first(outputs('Get_items_-_Release_Lock')?['body/value'])?['ID']",
                  "item/SettingValue": "false"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "PatchItem",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_items_-_Release_Lock": [
                  "Succeeded"
                ]
              }
            },
            "Condition_-_Error_Logging": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@actions('Scope:_Execution')?['status']",
                        "Succeeded"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Create_item:_Log_Error": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                      "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                      "item/EventType/Value": "Error",
                      "item/Summary": "\"Heartbeat execution failed or timed out.\"",
                      "item/FullContextJSON": "@string(result('Scope:_Execution'))"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Scope:_Execution": [
              "Succeeded",
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          }
        },
        "Scope:_Initialize": {
          "type": "Scope",
          "actions": {
            "Create_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                  "item/EventType/Value": "Heartbeat",
                  "item/Summary": "@concat('Heartbeat attempt started at ', utcNow())"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "PostItem",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Get_items:_Check_if_KillSwitch_or_IsRunning": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "$filter": "(SettingName eq 'KillSwitch' or SettingName eq 'IsRunning') and SettingValue eq 'true'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Create_item": [
                  "Succeeded"
                ]
              }
            },
            "Condition:_Check_if_KillSwitch_or_IsRunning": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Get_items:_Check_if_KillSwitch_or_IsRunning')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Log_heartbeat_status_to_memory_log": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                      "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                      "item/EventType/Value": "HeartbeatSkipped",
                      "item/Summary": "\"Skipped due to active lock or kill switch\""
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PostItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Terminate": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  },
                  "runAfter": {
                    "Log_heartbeat_status_to_memory_log": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_items:_Check_if_KillSwitch_or_IsRunning": [
                  "Succeeded"
                ]
              }
            },
            "Get_items_-_Acquire_Lock_ID": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "$filter": "SettingName eq 'IsRunning'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Condition:_Check_if_KillSwitch_or_IsRunning": [
                  "Succeeded"
                ]
              }
            },
            "Update_item_-_Set_Lock_": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "id": "@first(outputs('Get_items_-_Acquire_Lock_ID')?['body/value'])?['ID']",
                  "item/SettingValue": "true"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "PatchItem",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Get_items_-_Acquire_Lock_ID": [
                  "Succeeded"
                ]
              }
            },
            "Get_items_-_MaxActionsPerHour": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                  "$filter": "SettingName eq 'MaxActionsPerHour'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Update_item_-_Set_Lock_": [
                  "Succeeded"
                ]
              }
            },
            "Compose_Integer_-_MaxActionsPerHour": {
              "type": "Compose",
              "inputs": "@int(first(outputs('Get_items_-_MaxActionsPerHour')?['body/value'])?['SettingValue'])",
              "runAfter": {
                "Get_items_-_MaxActionsPerHour": [
                  "Succeeded"
                ]
              }
            },
            "Get_items:_Rate_Limit_Query": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                  "table": "c330bd00-7966-455c-991c-d726485c7ae5",
                  "$filter": "Timestamp ge '@{addHours(utcNow(), -1)}' and (EventType eq 'ActionExecuted' or EventType eq 'ToolCalled' or EventType eq 'TaskCompleted')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetItems",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "Compose_Integer_-_MaxActionsPerHour": [
                  "Succeeded"
                ]
              }
            },
            "Condition:_Rate_Limit_Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Get_items:_Rate_Limit_Query')?['body/value'])",
                      "@outputs('Compose_Integer_-_MaxActionsPerHour')"
                    ]
                  }
                ]
              },
              "actions": {
                "Send_an_email_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "admin@M365CPI23966391.onmicrosoft.com",
                      "emailMessage/Subject": "PowerClaw Rate Limit Breach",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">PowerClaw hit a rate limit 😅</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SendEmailV2",
                      "connectionName": "shared_office365"
                    }
                  },
                  "runAfter": {
                    "Update_item:_KillSwitch_to_True": [
                      "Succeeded"
                    ]
                  }
                },
                "Terminate_:_Due_to_rate_limit": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed"
                  },
                  "runAfter": {
                    "Send_an_email_(V2)": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_item:_KillSwitch_to_True": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                      "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                      "id": "@first(outputs('Get_items:_KillSwitch')?['body/value'])?['ID']",
                      "item/SettingValue": "true"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PatchItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "runAfter": {
                    "Get_items:_KillSwitch": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_items:_KillSwitch": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://m365cpi23966391.sharepoint.com/sites/PowerClaw-Workspace",
                      "table": "390396f9-02ac-4401-b3f5-4808ed84ec24",
                      "$filter": "SettingName eq 'KillSwitch'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetItems",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_items:_Rate_Limit_Query": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Initialize_variable:_AgentSuccess": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable:_AgentSuccess": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AgentSuccess",
                "type": "boolean",
                "value": false
              }
            ]
          },
          "runAfter": {}
        },
        "Sends_a_prompt_to_the_specified_copilot_for_processing": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "Copilot": "auto_agent_BmTJh",
              "body/message": "Use content from @{triggerBody()}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
              "operationId": "ExecuteCopilot",
              "connectionName": "shared_microsoftcopilotstudio"
            }
          },
          "runAfter": {
            "Scope:_Cleanup": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "367c7f45-be4f-4858-a717-34e5219706c4"
          }
        }
      },
      "description": "Create a trigger to automatically call your copilot repeatedly"
    }
  },
  "schemaVersion": "1.0.0.0"
}